#classRoom > .chat {
  min-height: 15vh;
}

$avatarSize: 4rem;
.chat .avatar {
  width: $avatarSize;
  height: $avatarSize;
}

.users-box {
  > div {
    clear: left;
  }
  .avatar {
    width: $avatarSize / 1.5;
    height: $avatarSize / 1.5;
    float: left;
  }
  .name {
    margin-left: $avatarSize - 1;
    font-size: 1.6rem;
    line-height: 1.4rem;
  }
  .status {
    margin-left: $avatarSize - 1;
    font-size: 1rem;
    line-height: 1rem;
    &::before {
      content: "[";
    }
    &::after {
      content: "]"
    }
  }
}

.answer {
  margin-bottom: 1rem;
  .text {
    position: relative;
    padding: 12px;
    font-size: 16px;
    white-space: pre-wrap;

    &:before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      border: 18px solid transparent;
      border-bottom-width: 0;
    }
  }

  .name {
    font-size: 1.6rem;
    line-height: 1.2rem;
  }

  .status {
    font-size: 0.8rem;
    line-height: 1.2rem;
    &::before {
      content: "["
    }
    &::after {
      content: "]"
    }
  }

  .time {
    font-size: 0.7rem;
    color: #5b6977;
    line-height: 1.2rem;
  }

  > div {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    > div {
      margin: 0 3px;
    }
  }

  &.right > div {
    flex-direction: row-reverse;
  }

}

.text {
  .left & {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;

    &:before {
      left: -30px;
      border-right-color: #ebebeb;
      border-right-width: 12px;
    }
  }
  .right & {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;

    &:before {
      right: -30px;
      border-left-color: #7266ba;
      border-left-width: 12px;
    }
  }
}

.send-box {
  background: #46be8a;
  margin: 0;
  border-radius: 0 0 4px 4px;
  padding: 0.5rem;
  display: flex;
  textarea {
    flex-grow: 1;
    border: none;
    background: none;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    color: #ffffff;
    -webkit-appearance: none;
    border-radius: 0;
    resize: none;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: #fff;
    }
    &::-moz-placeholder {
      color: #fff;
    }
  }
  .answer-btn {
    display: block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    flex-grow: 0;
    align-self: center;
    background: url("assets/icon-41.png") 50% 50% no-repeat;
    // background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
  }
}

.chat {
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .users-box {
    max-height: 12vh;
    overflow-y: auto;
  }
  .messages-box {
    overflow-y: auto;
    max-height: 50vh;
  }
  .send-box {
    min-height: 5rem;
  }
}
