@import 'include-media/dist/_include-media';
$breakpoints: (
  'small': 500px,
  'medium': 900px,
  'large': 1200px
) !default;

#app {
  background-color: #cde;
}

.login,
.register {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    background-color: #fff;
    box-shadow: 4px 4px 10px black;
    .logo {
      font: bold 2rem serif;
      padding: 1rem;
    }
    .body {
      margin: 0 2rem 1rem;
      label,
      button,
      input[type='email'],
      input[type='password'] {
        width: 100%;
      }
      .social-auth-links {
        margin: 0.5rem;
        p {
          margin: 0;
        }
      }
    }
    @include media('<phone') {
      width: 100vw;
      height: 100vh;
      box-shadow: none;
    }
  }
}

.text-center {
  text-align: center;
}
